/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    max-width: 1920px;
    border: 1px solid black;
}



.logo{
    display: block;
    width: 350px;
    margin: 35px auto;
}

.button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons{
    background-color: black;
    color: white;
    border: 10px solid black;
    border-radius: 25px;
    margin-left: 15px;
    width: 75px;
}

.buttons:hover{
    background-color: gray;
    border: 10px solid grey;
}

.buttons:active{
    background-color: white;
    color: black;
    border: 1px solid white;
}

.special{
    display: flex;
    justify-content: center;
    margin: 15px 0px 25px 0px;
    text-indent: 5px;
}

.text{
    display: flex;
    justify-content: center;
}

p{
    margin:0px 25px 0px 25px;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.field{
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
    width: 125px;
}


.cost__price{
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    font-size: 25px;
}

.вid{
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    font-size: 25px;
}