/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: #DCDCDC;
    color: black;
}

.container{
    max-width: 1920px;
}

.logo{
    display: block;
    margin: 30px auto;
}

@media(max-width:767px){
    .logo{display: none;
   }
}

.gaz{
    display: flex;
    flex-direction: column;
    margin: 95px 0px 0px 450px;
    font-size: 25px;
}

@media(max-width:1920px){
        .gaz{
            max-width:1600px;
            margin: 95px 0px 0px 450px;
       }
}

@media(max-width:1610px){
    .gaz{
        max-width:1200px;
        margin: 95px 0px 0px 170px;
   }
}

@media(max-width:1210px){
    .gaz{max-width:970px;
    margin: 95px 0px 0px 50px;
   }
}

@media(max-width:992px){
    .gaz{max-width:750px;
    margin: 95px 0px 0px 0px;
   }
}

@media(max-width:767px){
    .gaz{max-width:none;
    padding: 0px 15px;
    margin: 0px auto;
   }
}

input{
    width: 175px;
    margin: 7px 0px 7px 0px;
    border: 1px solid black;
    font-size: 20px;
}

button{
    margin: 7px 0px 7px 0px;
    width: 175px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 35px;
}

.result{
color: red;
}

.bid{
color: green;
}

