/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color:white;
    color: black;
    font-family: Consolas;
}

.container{
    max-width: 1920px;
}

.logo{
    display: block;
    margin: 10px auto;
}

@media (max-width:980px){
    .logo{
        display: none;
    }
}


.calculete{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.gaz{
    display: flex;
    flex-direction: column;
    /* margin: 95px 0px 0px 450px; */
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.result{
color: red;
}

.bid{
color: green;
}

.gaz__gor{
    display: flex;
    flex-direction: column;
    /* margin: 95px 0px 0px 450px; */
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

input{
    width: 265px;
    margin: 7px 0px 7px 0px;
    border: 1px solid black;
    font-size: 20px;
}

button{
    margin: 7px 0px 7px 0px;
    width: 265px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 35px;
}

button:focus{
    background-color: gray;
}

button:hover{
    background-color: gray;
}

.result__gor{
color: red;
}

.bid__gor{
color: green;
}

.text{
    font-size: 17px;
}
